@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

fonts {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background: black;
    color: white;
    font-size: 1.2rem;
}

nav ul li {
    padding: 0 12px;
}


.brand img {
    width: 50px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.nav-items {
    padding-top: 1.5rem;
    position: absolute;
    right: 0;
    margin: 0 10px;
    pointer-events: none;
}

#signup {
    right: 70px;
}

.container{
    min-height: 73.5vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.songList {
    padding: 30px;
}


.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    margin-top: 15px;
}

i {
    cursor: pointer;
}

#progressBar {
    width: 80vw;
    cursor: pointer;
}

.songList {
    width: 50%;
}

.songItemContainer{
    margin-top: 40px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}


.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.playts {
    margin-right: 10px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
    padding-right: 0;
    margin-right: 0;
}



.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Open Sans', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#masterPlay {
    margin: 10px;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: white;
    }
  }